<% include header %>
<style>
.pagination {
  background-color: white;
}
.pagination li {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}
.pagination li.active {
  background-color: #72b8b1;
  color: white;
}

</style>
<script>
</script>
<% let complainResult = locals.pageSignalResult %>
  <div class="container-fluid">

    <!-- Page Heading -->
    <h1></h1>
    <h1 class="h3 mb-2 text-gray-800"> 유저정보 확인하기</h1>
    <p class="mb-4">전체 사용자를 확인할 수 있습니다.</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <form class="user" action="/overview/complainUserSearch" method="GET">
              <p>유저 이메일을 입력하세요</p>
              <input type="text" class="form-control form-control-user" id="userId" name="userId" placeholder="이메일 입력">
              <button type="submit" class="btn btn-primary">
                검색하기
              </button>
            </form>
        </div>
          <!-- DataTales Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
          <form class="user" action="/overview/complainUserSearchUsingRefCode" method="GET">
            <p>불편러의 추천인코드를 입력하세요</p>
            <input type="text" class="form-control form-control-user" id="refCode" name="refCode" placeholder="Enter RefCode...">
            <button type="submit" class="btn btn-primary">
              검색하기
            </button>
          </form>
      </div>
    </div>
      <div class="card-body">
        <div class="table-responsive">
            <form class="user" action="/overview/specificComplainUserSearch" method="GET">
              <span>없는 날짜로 조회 하면 에러납니다. 예 2022-11-31</span><br/>
              <% if(locals.pageType == "specific") { %>
                <span>접수한 불편 총 갯수 <%= locals.cnt %></span>
              <% }%>
              <select name="age">
                <option value=-1 selected>선택안함</option>  
                <option value=10>10대</option>
                <option value=20>20대</option>
                <option value=30>30대</option>
                <option value=40>40대 이상</option>
              </select>
              <select name="sex">
                  <option value=-1 selected>선택안함</option>
                  <option value="0">여성</option>
                  <option value="1">남성</option>
              </select>
              <select name="job">
                  <option value=-1 selected>선택안함</option>
                  <option value="직장인">직장인</option>
                  <option value="사업가">사업가</option>
                  <option value="학생">학생</option>
                  <option value="주부">주부</option>
                  <option value="무직">무직</option>
                  <option value="기타">기타</option>
              </select>
              <input type="text" id="startDate" name="startDate" placeholder="시작날짜(예: 2022-01-01)">~
              <input type="text" id="endDate" name="endDate" placeholder="종료날짜(예: 2022-12-31)">

              <button type="submit" class="btn btn-primary">
                  검색하기
              </button>
            </form>
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th scope="col">번호</th>
                <th scope="col">유저ID</th>
                <th scope="col">입점기업 여부</th>
                <th scope="col">연령대</th>
                <th scope="col">성별</th>
                <th scope="col">직업</th>
                <th scope="col">추천인코드</th> 
                <th scope="col">회원가입 날짜</th>       
              </tr>
            </thead>
            <tbody>
              <% for (let index in complainResult) { %>
                <tr>
            </tbody>
                    <td><%= complainResult[index].no %></td>
                    <td><%= complainResult[index].kakao_id %></td>
                    <td><%= complainResult[index].cnt %></td>  
                    <td><%= complainResult[index].age %></td>
                    <td><%= complainResult[index].sex %></td>
                    <td><%= complainResult[index].job %></td>
                    <td><%= complainResult[index].ref_code %></td>      
                    <td><%= moment(complainResult[index].join_date).format('YYYY.MM.DD HH:mm:ss') %></td>          
                </tr>
                <% } %> 
              </tbody>
          </table>
            <%
              let paging = locals.paging
              let curSet = paging.curSet
              let endPage = paging.endPage
              let startPage = paging.startPage
              let totalSet = paging.totalSet
              let totalPage = paging.totalPage
              let page_list_size = paging.page_list_size
              let page_size = paging.page_size
              let curPage = paging.curPage
            %>
              <ul class="pagination">
                <li>
                    <% if (curPage <= 1) { %>
                        <a class="page-link" href="#">
                    <% } else if(pageType == 'specific') {
                        let age = locals.age;
                        let sex = locals.sex;
                        let job = locals.job;
                        let startDate = locals.startDate;
                        let endDate = locals.endDate;
                      %>
                      <a href="/overview/specificComplainUserSearch?page=<%= (curPage - 1 ) %>&age=<%=age%>&sex=<%=sex%>&job=<%=job%>&startDate=<%=startDate%>&endDate=<%=endDate%>">
                    <% } else { %>
                        <a href="/overview/complainer?page=<%= (curPage -1 ) %>">
                    <% } %>
                        Prev
                    </a>
                </li>
                <% for (let i = startPage; i <= endPage; i++) { 
                    if (i > totalPage) {
                        break;
                    } 
                %>
                    <% if (i == curPage) { %>
                        <li class="active" >
                    <% } else if(pageType == 'specific') {
                        let age = locals.age;
                        let sex = locals.sex;
                        let job = locals.job;
                        let startDate = locals.startDate;
                        let endDate = locals.endDate;
                    %>
                    <a href="/overview/specificComplainUserSearch?page=<%= i %>&age=<%=age%>&sex=<%=sex%>&job=<%=job%>&startDate=<%=startDate%>&endDate=<%=endDate%>"><%= i %></a>
                    <% }  else {%>
                        <li>
                    <% } %>
                        <a href="/overview/complainer?page=<%= i %>"><%= i %></a>
                        </li>
                <% } %>
                <li>
                    <% if (Number(curPage) + 1 <= totalPage) { %>
                        <a href="/overview/complainer?page=<%= (Number(curPage) + 1 ) %>">
                    <% } else if(pageType == 'specific') {
                        let age = locals.age;
                        let sex = locals.sex;
                        let job = locals.job;
                        let startDate = locals.startDate;
                        let endDate = locals.endDate;
                    %>
                    <a href="/overview/specificComplainUserSearch?page=<%= (Number(curPage) + 1 ) %>&age=<%=age%>&sex=<%=sex%>&job=<%=job%>&startDate=<%=startDate%>&endDate=<%=endDate%>">

                    <% } else { %>
                        <a class="page-link" href="#">
                    <% } %>
                        Next
                    </a>
                </li>
              </ul>
          </div>
        </div>
    </div>
  </div>
  </div>
    <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Bootstrap core JavaScript-->
  <script src="/resource/vendor/jquery/jquery.min.js"></script>
  <script src="/resource/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/resource/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/resource/js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="/vendor/chart.js/Chart.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="/resource/js/demo/chart-area-demo.js"></script>
  <script src="/resource/js/demo/chart-pie-demo.js"></script>
  <% include footer %>



