<% include header %>
<style>
.pagination {
  background-color: white;
}
.pagination li {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}
.pagination li.active {
  background-color: #72b8b1;
  color: white;
}

</style>
<script>
</script>
<% let alarmResult = locals.pageSignalResult %>
  <div class="container-fluid">

    <!-- Page Heading -->
    <h1></h1>
    <h1 class="h3 mb-2 text-gray-800"> 알림신청 내역 확인하기</h1>
    <p class="mb-4">알림신청 내역을 확인할 수 있습니다.</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th scope="col">번호</th>
                <th scope="col">카카오ID</th>
                <th scope="col">신청자 이름</th>
                <th scope="col">신청자 번호</th>
                <th scope="col">상대방 이름</th> 
                <th scope="col">상대방 번호</th>  
                <th scope="col">빌려준 금액</th>
                <th scope="col">받는 날짜</th>
                <th scope="col">D-days</th>
                <th scope="col">알림 동의 여부</th>
                <th scope="col">신청일자</th> 
                <th scope="col">내역 삭제</th>            
              </tr>
            </thead>   
            <tbody>
              <% for (let index in alarmResult) { 
                  let nowDate = new Date();
                  let TotalDays = "";
                  if(alarmResult[index].receive_date) {
                    let recDate = alarmResult[index].receive_date;
                    let difference = nowDate.getTime() - recDate.getTime();
                    TotalDays = Math.ceil(difference / (1000 * 3600 * 24));
                  }
                %> 
                <form class="user" method="POST" action="/alarmFunction/deleteAlarm">
                  <tr>
                      <td><input type="text" name="no" value="<%= alarmResult[index].no %>" hidden><%= alarmResult[index].no %></td>
                      <td><%= alarmResult[index].kakao_id? alarmResult[index].kakao_id: ""  %></td>
                      <td><%= alarmResult[index].user_name? alarmResult[index].user_name : "" %></td>
                      <td><%= alarmResult[index].user_phone_number ? alarmResult[index].user_phone_number : "" %></td>
                      <td><%= alarmResult[index].other_user_name ? alarmResult[index].other_user_name : "" %></td>
                      <td><%= alarmResult[index].other_phone_number ? alarmResult[index].other_phone_number : "" %></td>
                      <td><%= alarmResult[index].money_amount ? alarmResult[index].money_amount : "" %></td>  
                      <td><%= alarmResult[index].receive_date ? moment(alarmResult[index].receive_date).format('YYYY.MM.DD HH:mm:ss') : "" %></td>
                      <td style="color:red;"><%= TotalDays %></td>    
                      <td><%= alarmResult[index].alarm_agree ? alarmResult[index].alarm_agree : "" %></td>
                      <td><%= alarmResult[index].register_date ? moment(alarmResult[index].register_date).format('YYYY.MM.DD HH:mm:ss') : "" %></td>                  
                      <td>
                          <button type="submit" class="btn btn-primary">
                            내역 삭제하기
                          </button>
                        </td>
                  </tr>
                </form>
                <% } %> 
              </tbody>
          </table>
            <%
              let paging = locals.paging
              let curSet = paging.curSet
              let endPage = paging.endPage
              let startPage = paging.startPage
              let totalSet = paging.totalSet
              let totalPage = paging.totalPage
              let page_list_size = paging.page_list_size
              let page_size = paging.page_size
              let curPage = paging.curPage
            %>
              <ul class="pagination">
                <li>
                    <% if (curPage <= 1) { %>
                        <a class="page-link" href="#">
                    <% } else { %>
                        <a href="/overview/kookminAlarm?page=<%= (curPage -1 ) %>">
                    <% } %>
                        Prev
                    </a>
                </li>
                <% for (let i = startPage; i <= endPage; i++) { 
                    if (i > totalPage) {
                        break;
                    } 
                %>
                    <% if (i == curPage) { %>
                        <li class="active" >
                    <% }  else {%>
                        <li>
                    <% } %>
                        <a href="/overview/kookminAlarm?page=<%= i %>"><%= i %></a>
                        </li>
                <% } %>
                <li>
                    <% if (Number(curPage) + 1 <= totalPage) { %>
                        <a href="/overview/kookminAlarm?page=<%= (Number(curPage) + 1 ) %>">
                    <% } else { %>
                        <a class="page-link" href="#">
                    <% } %>
                        Next
                    </a>
                </li>
              </ul>
          </div>
        </div>
    </div>
  </div>
  </div>
    <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Bootstrap core JavaScript-->
  <script src="/resource/vendor/jquery/jquery.min.js"></script>
  <script src="/resource/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/resource/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/resource/js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="/vendor/chart.js/Chart.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="/resource/js/demo/chart-area-demo.js"></script>
  <script src="/resource/js/demo/chart-pie-demo.js"></script>
  <% include footer %>



